* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background: #161513;
  color: var(--white-color);
  font-family: 'outfit';
}
:root{
  --primary-color:#edf2f8;
  --secondary-color:#313bac;
  --black-color:#030303;
  --lightGray-color:#e4e4e4;
  --gray-color:#6b7688;
  --brown-color:#46364a;
  --white-color:#ffffff;
  --primary-degree:#df8908;
  --secondary-degree: #b415ff;
}
/*#fondo 6CD9FD letras #0D0D0D




*/